%h1 ABOUT
.row.inner-column
  %h2.title Alumni Ventures Group is the new name for Launch Angels.
  %h3.desc.about-top-text Alumni Ventures Group (formerly known as Launch Angels) creates and manages alumni venture capital funds. Our funds are private, for profit, and not affiliated with their respective school. At their core, our funds are based on a simple idea: alums do better investing together than alone. We have successful annual funds for alums at Dartmouth, Harvard, Yale, MIT, the University of Pennsylvania, Northwestern, the University of Wisconsin, Stanford, and UC Berkeley—and are adding a new school once a quarter.
.container.alums
  =image_tag "https://s3.amazonaws.com/alvg/investing-together.jpg", class: "img-responsive"

.container
  .half-block.about-left-text
    %h3 A Smarter Way to Venture Invest
    %p Before Alumni Ventures Group (AVG), investors wanting to add venture to their portfolio had poor options. Venture investing required lots of connections, time, and expertise. Most either skipped this potentially lucrative asset class or invested in a few random deals. We offer a better, smarter solution. While this asset class isn’t for everyone, accredited alumni investors who understand the risks and want VC in their portfolio like our network-based approach. We offer investors a large, diverse venture portfolio where they back the companies of fellow alumni and co-invest alongside smart, professional VCs. We also provide other benefits: networking, learning, and giving back to the next generation of fellow alums. For investors—as well as entrepreneurs and VC partners—we have created an experience that’s simple, accessible, and effective. 
  .half-block.about-right-text
    %h3 The Power of Many
    %p Our sole focus is alumni venture funds, and we have created staff, processes, and networks tailored to that mission. Our full-time deal teams spend their days networking with fellow alums, evaluating and sharing deals. The AVG back-office staff provides admin, legal, accounting, marketing, technology, and scalable process support to all of our funds. Just as importantly, each of our funds has hundreds of investors and ambassadors scouting deals, helping with due diligence, and providing value to our portfolio companies. Those networks and cumulative contributions demonstrate how we do better investing together than we can alone.
