%h1 Board of Directors
.row.board-member
  .col-sm-3.col-md-3.board-left
    %h4
      %strong
        Tom “TK” Kuegler
    .board-pic
      =image_tag "http://avgfunds.com/wp-content/uploads/2016/12/TKSmall.jpg", class: "img-responsive"
    %h5
      Chairman AVG
  .col-sm-9.col-md-9    
    %h4 
      TK is Chairman of Alumni Ventures Group and a longtime entrepreneur. Besides serving as Chairman of AVG, he is Chief Investment Officer, assisting in the launch of new funds, recruitment of deal teams, and oversight of portfolio managements. He is also the Co-founder and General Partner of Wasabi Ventures, a venture capital, incubator, and consulting firm that specializes in building and advising early stage technology companies. In the last ten years, Wasabi Ventures has built, financed, and advised over 200 startups, including Right Now Technologies, PBworks, Ustream, and Etherpad.
        
      Previously, TK was the co-founder of two successful Internet startups, SNT and SpinBox. He is also the author of
           
      Web Advertising and Marketing
      and dozens of articles about the Internet, as well as a frequent lecturer. Since 2010, he has served on the Board of Sponsors of Sellinger School of Business at Loyola University Maryland.
        
      TK earned a BS in Economics from Loyola.

.row.board-member
  .col-sm-3.col-md-3.board-left
    %h4
      %strong
        Michael Collins
    .board-pic
      =image_tag "http://avgfunds.com/wp-content/uploads/2016/12/MikeSmall-1.jpg", class: "img-responsive"
    %h5
      CEO AVG
  .col-sm-9.col-md-9           
    %h4
      Over the past 30 years, Mike has been involved in almost every facet of venturing, from angel investing to venture capital, new business and product launches, and innovation consulting. He is a serial entrepreneur who has started multiple companies, including Kid Galaxy, Big Idea Group (partially owned by WPP), and RDM. Mike is the Co-founder and CEO of Alumni Ventures Group, where he drives corporate goals, strategy, processes, systems, and performance, including the launching and oversight of all funds. In addition, he serves as Managing Partner at Green D Ventures, the first fund for Launch Angels.
        
      Throughout the years, Mike has served as Board Member at multiple companies, helping nurture startups and early venture stage businesses. He started his career at TA Associates, a Boston venture capital firm, where he served from 1986-90.
        
      Mike holds an undergraduate degree in Engineering Science from Dartmouth and an MBA from Harvard Business School. He holds patents for several products related to hardware, home goods, and specialty products.
.row.board-member
  .col-sm-3.col-md-3.board-left
    %h4
      %strong
        James Gill
    .board-pic
      =image_tag "http://avgfunds.com/wp-content/uploads/2016/12/Jim-Gill.jpg", class: "img-responsive"     
    %h5
      Owner President of Sun Valley Foods, LLC
  .col-sm-9.col-md-9           
    %h4
      Jim is an owner and President of Sun Valley Foods, LLC, a Mexican foods processor supplying leading North American food producers and distributors. In addition, he is Principal Manager at Eagle Holdings General Partners, a tribal venture fund. Formerly,
      Jim was CFO at Santa Fe Ingredients, Inc. Prior to that, Jim was at Intel Corporation where he was a Controller in Operations Finance for Intel’s worldwide network of chip assembly and test facilities. He began his career in Boston as a bond analyst and later as a fed funds trader.
      Jim graduated from Dartmouth with an AB in Economics and received an MBA from Northwestern University – Kellogg School of Management.
.row.board-member
  .col-sm-3.col-md-3.board-left
    %h4
      %strong
        Peter Graham
    .board-pic
      =image_tag "http://avgfunds.com/wp-content/uploads/2016/12/PeterGraham-150x150.jpg", class: "img-responsive"
    %h5
      Chairman of the Board SVG 2000 - 2016
  .col-sm-9.col-md-9
    %h4
      Peter has key experience within the investment banking industry and extensive knowledge of finance and capital markets. Most recently, he was the Chairman of the Board of Seventh Generation, Inc. (“SVG”), a position he held from 2000 to late 2016, when Unilever purchased SVG. He also served on the board of ExamWorks Groups (EXAM-NYSE) from 2011 to May 2016 and led its Independent Committee through the sale of the Company. From November 1998 to November 2010, Peter was the lead independent director of Alloy, Inc., a NASDAQ-listed media and education provider to children. As the Lead Independent Director in 2010, he negotiated the sale of the company in an MBO to a private equity company.
      Peter attended the Wharton School of Business at the University of Pennsylvania, where he studied finance and accounting. He learned even more in a seven-year, around-the-world sailing adventure he undertook with his wife and infant son earlier in the century.

.row.board-member
  .col-sm-3.col-md-3.board-left
    %h4
      %strong
    .board-pic
      =image_tag "http://avgfunds.com/wp-content/uploads/2016/12/Gruver-Kara.jpg", class: "img-responsive"
    %h5
      Partner and heads Bain &amp; Company’s Boston office
  .col-sm-9.col-md-9
    %h4
      Kara has joined the AVG Board of Directors. Kara is a partner and heads Bain &amp; Company’s Boston office. As a leader in Bain’s Consumer Products practice, she advises clients on corporate, pricing, and trade strategy; M&amp;A; innovation, supply chain restructuring; and organizational effectiveness. Kara was recently named one of 2017’s Top 25 Consultants (Consulting Magazine for Excellence in Leadership). Previously, she was head of the Bain’s North American Consumer Products practice. She holds an MBA from the University of Virginia Darden School of Business and an AB from Dartmouth (magna cum laude ).
