%h1 CAREERS
%h2 Current Job Openings at Alumni Ventures Group
.inner-column.jobs
  %h2
    %strong
      Business Development
  
  %h3
    %strong
      =link_to "Vice President of Business Development", "https://boards.greenhouse.io/avg/jobs/823858"
  %h4 Manchester, NH - HQ

  %h2
    %strong
      Communications
  
  %h3
    %strong
      =link_to "Digital Communications Associate ", "https://boards.greenhouse.io/avg/jobs/923734"
  %h4 Manchester, NH - HQ

  %h2
    %strong
      Deal Teams
  
  %h3
    %strong
      =link_to "Founding Managing Partner at Fission Ventures, a Venture Fund for Columbia Alumni ", "https://boards.greenhouse.io/avg/jobs/896403"
  %h4 New York City, New York
  %h3
    %strong
      =link_to "Founding Managing Partner at Triphammer Ventures, a Venture Fund for Cornell Alumni", "https://boards.greenhouse.io/avg/jobs/895549"
  %h4 New York City, New York
  %h3 
    %strong
      =link_to "Vice President of Strawberry Creek Ventures, a Venture Fund for Alumni of UC Berkeley", "https://boards.greenhouse.io/avg/jobs/708854"
  %h4 San Francisco, CA
  %h2
    %strong
      Investor Relations
  %h3
    %strong
      =link_to "Investor Relations Associate", "https://boards.greenhouse.io/avg/jobs/973101"
  %h4 Manchester, NH - HQ 
