%h1 CONTACT
.row
  .col-sm-8.col-md-8
    #map.col-sm-8.col-md-8
  #contact-info.col-sm-4.col-md-4
    %h2
      %i.glyphicon.glyphicon-phone-alt
      %span 603-518-8112
    %h2
      .glyphicon.glyphicon-road
      %span 788 Elm Street
      %p Manchester, NH 03101
    %h2
      .glyphicon.glyphicon-send
      %span info@launch-angels.com
    %h2
      .glyphicon.glyphicon-map-marker
      %span.h4 We are located on the corner of Elm and West Merrimack Streets in downtown Manchester, NH. Metered parking is available on the street.

