%p.p1
  %span.s1
    %b
      What is the goal of your funds?
  %span.s2
    %b
  %span.s3 Our goal is to make money for our investors by pooling alumni resources together.
%p.p1
  %span.s1
    %b Why do alums invest?
  %span.s2
    %b
  %span.s3 Reasons vary. Many believe this is the simplest and most intelligent way to add venture capital to their portfolio. Others value paying it forward to the next generation of entrepreneurial alums and fostering the school’s entrepreneurial ecosystem. Still other alums like the deal syndication and co-investment opportunities provided by being part of our network.
%p.p1
  %span.s1
    %b Who can invest in an AVG alumni fund?
  %span.s2
    %b
  %span.s3
    Our funds are open to accredited alumni investors (as
    %a{:href => "https://www.investor.gov/news-alerts/investor-bulletins/investor-bulletin-accredited-investors"}
      %span.s4 defined
    by the SEC), as well as faculty and others with a strong connection to the school. We accept investments of $50,000 – $500,000 in our annual funds and also offer Syndication investment opportunities with lower minimums. We do not recommend investment opportunities as being suitable for any specific individual. There are many risks and merits inherent to investing in a venture capital fund, which must be carefully evaluated with an advisor before the decision to invest is made.
%p.p1
  %span.s1
    %b What types of businesses do you invest in?
  %span.s2
    %b
  %span.s3 To spread risk, we invest in diverse industries, geographies, and stages of development. Our first qualification is that a company must have a connection to the alma mater (typically, an alum on the management team or leading the investment round). Beyond that, we look for a top-tier lead investor with industry expertise (usually an institutional venture capital firm), demonstrated product/market fit, strong team, large market, clear differentiation and defensibility, attractive metrics, and growth.