%p.p1
  %span.s1
    %b Can investors pick and choose investments?
  %span.s2
    %b
  %span.s3 Deals are selected by each fund’s deal team and voted upon by an alumni Investment Committee. While investors can’t opt out of a portfolio deal, our Syndication Program enables investors to commit additional capital in select deals via a sidecar fund.
%p.p1
  %span.s1
    %b What is the relationship of the school funds to Alumni Ventures Group?
  %span.s2
    %b
  %span.s3 AVG provides back office support the specific school funds. This includes admin, legal, accounting, marketing, technology, and scalable process support to every fund. By sharing these non-deal related costs and functions with sister funds, each school team can focus on doing great deals.
%p.p1
  %span.s1
    %b Are your funds a part of the colleges or universities?
  %span.s2
    %b
  %span.s3 No. Each of our funds is a private initiative led by individuals who graduated from a particular school. While we love our schools and have many great relationships with administrators, faculty, and campus organizations, we are leading this charge ourselves. We believe the only way to intelligently invest in venture capital deals is via a private, for-profit entity that is ROI driven.
%p.p1
  %span.s1
    %b What is the fee structure?
  %span.s2
    %b
  %span.s3 Our fee structure is the same as most venture capital funds, with a fee for the management and monitoring of the portfolio. AVG also receive a portion of a fund’s profits.
%p.p1
  %span.s1
    %b I’m interested in learning more. What’s the next step?
  %span.s1
    For interested investors, the next step is to have a conversation with your fund’s Managing Partner.
    %a{:href => "http://www.launch-angels.com/contact-us"}
      %span.s2 Contact us
    to learn more.
