.container
  %h1 FUNDS
  .row
    .col-sm-4
      %a.f-bg-box{:href => "http://www.greendventures.com/", :style => "background:url(https://s3.amazonaws.com/alvg/greend.jpg) center center ; ", :target => "_blank"}
        .f-text-box
          %h3.roboto-black.color-black.margin-0 Green D Ventures
          %h4.color-black.margin-0 For Dartmouth Alumni
          %h6.color-black.margin-0 Established 2014
    .col-sm-4
      %a.f-bg-box{:href => "http://www.blueivyventures.com/", :style => "background:url(https://s3.amazonaws.com/alvg/blueivy.png) center center ; ", :target => "_blank"}
        .f-text-box
          %h3.roboto-black.color-black.margin-0 Blue Ivy Ventures
          %h4.color-black.margin-0 For Yale Alumni
          %h6.color-black.margin-0 Established 2016
    .col-sm-4
      %a.f-bg-box{:href => "http://purplearchventures.com/", :style => "background:url(https://s3.amazonaws.com/alvg/purplearch.jpg) center center ; ", :target => "_blank"}
        .f-text-box
          %h3.roboto-black.color-black.margin-0 Purple Arch Ventures
          %h4.color-black.margin-0 For Northwestern Alumni
          %h6.color-black.margin-0 Established 2017
    .col-sm-4
      %a.f-bg-box{:href => "http://www.theyardventures.com/", :style => "background:url(https://s3.amazonaws.com/alvg/theyard.jpg) center center ; ", :target => "_blank"}
        .f-text-box
          %h3.roboto-black.color-black.margin-0 The Yard Ventures
          %h4.color-black.margin-0 For Harvard Alums
          %h6.color-black.margin-0 Established 2016
    .col-sm-4
      %a.f-bg-box{:href => "http://www.chestnutstreetventures.com/", :style => "background:url(https://s3.amazonaws.com/alvg/chestnut.jpg) center center ; ", :target => "_blank"}
        .f-text-box
          %h3.roboto-black.color-black.margin-0 Chestnut Street Ventures
          %h4.color-black.margin-0 For Penn Alumni
          %h6.color-black.margin-0 Established 2017
    .col-sm-4
      %a.f-bg-box{:href => "http://www.bascomventures.com/", :style => "background:url(https://s3.amazonaws.com/alvg/bascom.jpg) center center ; ", :target => "_blank"}
        .f-text-box
          %h3.roboto-black.color-black.margin-0 Bascom Ventures
          %h4.color-black.margin-0 For University of Wisconsin Alumni
          %h6.color-black.margin-0 Established 2017
    .col-sm-4
      %a.f-bg-box{:href => "http://www.castorventures.com/", :style => "background:url(https://s3.amazonaws.com/alvg/castor.jpg) center center ; ", :target => "_blank"}
        .f-text-box
          %h3.roboto-black.color-black.margin-0 Castor Ventures
          %h4.color-black.margin-0 For MIT Alumni
          %h6.color-black.margin-0 Established 2016
    .col-sm-4
      %a.f-bg-box{:href => "http://www.strawberrycreekventures.com/", :style => "background:url(https://s3.amazonaws.com/alvg/strawberry.jpg) center center ; ", :target => "_blank"}
        .f-text-box
          %h3.roboto-black.color-black.margin-0 Strawberry Creek Ventures
          %h4.color-black.margin-0 For UC Berkeley Alumni
          %h6.color-black.margin-0 Established 2017
    .col-sm-4
      %a.f-bg-box{:href => "http://www.thefarm-ventures.com/", :style => "background:url(https://s3.amazonaws.com/alvg/shingles.png) center center ; ", :target => "_blank"}
        .f-text-box
          %h3.roboto-black.color-black.margin-0 The Farm Ventures
          %h4.color-black.margin-0 For Stanford Alumni
          %h6.color-black.margin-0 Established 2017
