%section.lightimage
  .container
    .row
      .inner-column.main-intro
        %h1 Alumni Ventures Group
        =image_tag 'https://s3.amazonaws.com/alvg/avg-logo.png'

        %p.info Alums Investing Together

        = link_to "get involved", root_url, class: "btn btn-primary btn-lg"