%h1 NEWSLETTERS
.news-image
  =image_tag "https://s3.amazonaws.com/alvg/regenstein_hal.jpg", class: "img-responsive"
%h1
  %strong Newsletter Archives
 
%h4 We provide regular updates on the progress of Alumni Ventures Group. Browse our newsletter archives to catch up on deals, funds, and more.

.container
  .row
    .full-width-text.spb_content_element.col-sm-12.spb_text_column
      .spb_wrapper.clearfix
        %h2.impact-text.impact-text-large
          %strong 2017
        %h3
          %strong
            %a{:href => "http://bit.ly/2hDMPDF"} October Newsletter
        %h3
          %strong
            %a{:href => "http://bit.ly/2iP4NXT"} September Newsletter
        %h3
          %strong
            %a{:href => "https://preview.hs-sites.com/_hcms/preview/content/5281206283?preview_key=ccOuqjme&from_buffer=false&_preview=true&portalId=2621600&__hstc=20629287.a6cce074cfe3a9e0cd03358a7c423603.1502448559620.1502448559620.1502448559620.1&__hssc=20629287.3.1502448559621&__hsfp=311604363", :rel => "noopener", :target => "_blank"} August Newsletter
