@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);
// @import url(https://fonts.googleapis.com/css?family=Roboto:100,300);
$font-family-sans-serif: "Lato";
$headings-font-weight: 300;

$brand-primary: darken(#1f437f, 6.5%);

$navbar-default-bg: white;
$navbar-default-border: white;
$navbar-default-link-color: black;

$navbar-default-link-hover-bg: lighten( $brand-primary, 50% );
$navbar-default-link-active-bg: lighten( $brand-primary, 30% );

$body-bg: white;

$slideup-navbar-height: 150px;

$border-radius-base: 2px;
$border-radius-large: 2px;

@import 'bootstrap-sprockets';
@import 'bootstrap';

@import 'components/slideup_header';

// $slideup-navbar-height: $navbar-height !default;

.btn-lg {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 12px;
}

$splash-section-padding: 4em;

body.splash {
  text-align: center;

  p.info {
    font-size: 1.5em;
  }

  section {
    padding-top: $splash-section-padding;
    padding-bottom: $splash-section-padding;
    @extend .clearfix;
    min-height: 100vh;
  }

  header {
    height: 0;
  }
  .affix-top .navbar {
    background: transparent;
  }

  .lightimage {
    padding-top: 4 * $font-size-base + $slideup-navbar-height;
    background-size: cover;
    min-height: 600px;
    p {padding: 2em 0;}
    overflow: hidden;
    position: relative;

    .row {
      position:relative;
      z-index:2;
    }
    &:before {
      content: ' ';
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      opacity: 0.6;
      background-image: url('https://s3.amazonaws.com/alvg/dartmouth.jpg');
      background-repeat: no-repeat;
      background-position: 50% 0;
      -ms-background-size: cover;
      -o-background-size: cover;
      -moz-background-size: cover;
      -webkit-background-size: cover;
      background-size: cover;
    }
  }

  .colored.primary {
    background: $brand-primary;
    color: white;

    p {
      padding: 2em 0;
      font-size: 1.3em;
    }
  }

  .inner-column {
    @extend .col-sm-8;
    @extend .col-sm-offset-2;
  }

  .inner-block {
    @extend .col-md-3;
    @extend .col-sm-6;

    @media (max-width: $screen-xs-max) {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .half-block {
    @extend .col-md-6;
    @extend .col-sm-6;

    @media (max-width: $screen-xs-max) {
      padding-left: 0;
      padding-right: 0;
    }
  }
.faqs-left, .faqs-right, .about-top-text, .about-left-text, .about-right-text {
  text-align: left;
}
  .quarter-block {
    width: 25%;
    float: left;

    img {
      @extend .img-responsive;
    }
  }
}
.title, .desc{
  margin: 1em;
}

footer {
  padding: 2em;
  text-align: left;
  color: white;
  background-color: #252525;
}
footer p {
  font-style: italic;
}
.btn-primary {
  &:hover {
    border: 1px solid $brand-primary;
    background: white;
    color: $brand-primary;
  }
}
.btn-primary-inverted {
  background: white;
  color: $brand-primary;

  &:hover {
    border: 1px solid white;
    background: $brand-primary;
    color: white;
  }
}
.main-intro {
  color: $brand-primary;
  font-weight: bold;
}
.main-intro h1 {
  text-transform: uppercase;
}
.sm-logo {
  height: 30px;
  width: 30px;
  margin-right: .7em;
}
.nav-logo {
  display: flex;
  align-items: center;
  color: $brand-primary;
  font-weight: bold;
}
.alums {
  display: flex;
  justify-content: center;

}

.news-image {
  display: flex;
  justify-content: center;
}
.f-bg-box {
    position: relative;
    width: 100%;
    height: 200px;
    margin-top: 15px;
    display: block;
}

.f-bg-box :hover {
  background-color: $brand-primary;
  color: white;
  
}

.funds a {
  text-decoration: none;
}

.f-text-box h3 {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
}

.f-text-box h6 {
  text-transform: uppercase;
  font-size: .8em;
}
.f-text-box h4 {
  font-weight: bold;
}

.f-text-box {
  background-color: rgba(255, 255, 255, 0.5);
  width: 100%;
  height: 33%;
  text-align: left;
  padding: .4em;
  color: black;
}


.margin-0 {
    margin: 0px;
}

.board-pic {
  height: 10em;
  width:10em;
  border-radius:50%;
  overflow:hidden;
}
.board-member {
  border-bottom: 1px solid grey;
  margin-bottom: 1em;
  text-align: left;
}
.board-left {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#map {
  height: 400px;
  width: 100%;
}

#contact-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: $brand-primary;
}
#contact-info h2 {
  text-align: left;
}

.jobs {
  text-align: left;
}
.contact-button {
  text-transform: uppercase;
  width: 100%;
  color: $brand-primary;
  text-align: center;
  padding:.5em;
  padding-top:1em;
  padding-bottom:.75em;
  
  font-size:2em;
  color:white;
  margin:1px;
}
.contact-button :hover {
  text-decoration: none;
  color:$brand-primary;
}
.contact-button p {
  font-size: .5em;
}
.logo-box {
  display: flex;
  margin-bottom: 1em;
  text-align: left;
}
.co-name {
  border-left: 1px solid white;
}
.co-name h6 {
  margin: .1em;
  padding-left:.2em;
}
.co-logo {
  padding-right:.2em;
}