%footer#footer
  .container
    .row.disclaimer
      %p Alumni Ventures Group (AVG) is a Massachusetts-based venture capital firm. Past performance of AVG funds may not be indicative of future results of any fund offered by AVG. Different types of investments involve varying degrees of risk, and venture capital funds, including those offered by AVG, involve substantial risk of loss, including loss of all capital invested. Moreover, you should not assume that any of the above content serves as the receipt of, or as a substitute for, personalized investment advice. Our fund offerings are made solely to accredited investors who accept the responsibility for conducting their own analysis of the investment and consulting with their professional advisors with respect to their analysis of this investment. Early-stage companies are risky investments, not suitable for all investors.
    .row
      .col-xs-6
        .logo-box
          .co-logo
            =image_tag "https://s3.amazonaws.com/alvg/logo-white.png"
          .co-name
            %h6 ALUMNI 
            %h6 VENTURES 
            %h6 GROUP
      .col-xs-6.text-right
        %small.copyright
          T, Copyright &copy; #{ Date.today.year }
