= javascript_include_tag 'application'

-#  Append your own using content_for :javascripts
= yield :javascripts

-# Google Analytics
- if !ENV['GOOGLE_ANALYTICS_SITE_ID'].blank?
  :javascript
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', '#{ ENV['GOOGLE_ANALYTICS_SITE_ID'] }', 'auto');
    ga('send', 'pageview');
:javascript
  function initMap() {
    var uluru = {lat: 42.989533, lng: -71.463303};
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 7,
      center: uluru
    });
    var marker = new google.maps.Marker({
      position: uluru,
      map: map
    });
  }
%script{:async => "", :defer => "defer", :src => "https://maps.googleapis.com/maps/api/js?key=#{ENV['GOOGLE_MAPS_API_KEY']}&callback=initMap"}
  :cdata
